{% load static %}
{% load bootstrap4 %}

<form action="{% url 'searchbar' app_name=app_name %}" method="get">
    <div class="barra-busca">
        
        <!-- Filtro de Objeto -->
        <div style="display: none;">
            <label for="app_name">Buscar por: </label>
            <select type="checkbox" name="select_app">
                <option value="{{app_name}}" selected>app</option>
            </select>
        </div>

        <!-- Barra -->
        <label for="search">Buscar por {{app_name}}: </label>
        <input type="text" name="search" style="width: 100%;" {% if search_input %}value="{{search_input}}" {% endif %}/> 

        <!-- Adicionando filtro de busca para buscar por itens -->
        {% if app_name != 'amigos' and app_name != 'usuarios' %}
            <label for="select_filter">Filtro: </label>
            <select type="checkbox" name="select_filter">
            {% for filter in search_filters %}
                {% if search_filter == filter  %}
                    <option value="{{filter}}" selected>{{filter}}</option>
                {% else %}
                    <option value="{{filter}}">{{filter}}</option>
                {% endif %}
            {% endfor %}
            </select>
        {% endif %}
        {% if search_filter == filter  %} {% endif %}
        <!-- Botão -->
        <button class="search-btn" 
                type="submit">Buscar
        </button>
    </div>
</form>