.container-login100-form-btn {
    margin-top: 55px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  .cadastro-labels{
    justify-content: center;
    align-items: center;
  }
  .fieldset_cadastrar *{
    margin: 10px;
  }
  