.item-description {
    text-align: center;
    color: black;
    width: 70%;
    margin: auto;
    border-radius: 8px;
    padding: 20px 0px;
    font-family: "Georgia";
    padding-top: 60px;
    
}

.comentario{
  padding-bottom: 100px;
  margin-right: 85px;
  width: 350px;
  color: #000000;
}

.dados-itens{
  width: 100%;
}

.item-box{
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: thistle;
  border-radius: 6px;
  color: black;
}


.botao-validar {
  width: 98px;
  border-radius: 5px;
  border: 1px solid black;
  
  padding: 5px 16px;
  margin: 4px;

  text-decoration: none;
  color: white;
  cursor: pointer;
}
.botao-validar:hover {
  border-color: white;
}

.validar-excluir {
  background: #d33100;
}

.validar-aprovar {
  background: #43a550;
}

.validar-revisar {
  background: #fcaa2e;
}

td p {
  margin: 0px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 0;
}
.coluna-validar, .coluna-validar * {
  vertical-align: top;
}

.message-status{
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
  color: black;
  border-radius: 10px;
  background-color: rgb(196, 255, 169);
}

.fazer-avaliacao {
  text-align: center;
  color: rgb(34, 34, 34);
  width: 70%;
  margin: auto;
  border-radius: 8px;
  padding: 20px 0px;
  font-family: "Georgia";
  padding-top: 5px;
  width: 35%;
  margin-top: 70px;
  
}

.caixa-avaliacao {

  
}