{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    <link rel="icon" type="image/png" href="{% static 'images/logo_critichub.png' %}"/>
    <link type="text/css" href="{% static 'css/util.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/main.css'%}" rel="stylesheet">
    <link  type="text/css" href="{% static 'css/404.css'%}" rel="stylesheet">
    <link  type="text/css" href="{% static 'css/500.css'%}" rel="stylesheet">
    

</head>
<body>
{% block content %} {% endblock %}
</body>
</html>
