<footer>
    <p>&copy 2021 CriticHub, Inc.</p>
    <p>Felipe Martinez - 31923224 &copy 2021</p>
    <p>Fernando Saeta - 31944078 &copy 2021</p>
    <p>Gabriel Lee - 31920462 &copy 2021</p>
    <p>Gustavo Gontarzik - 31949142 &copy 2021</p>

    <!-- LINKS -->
    <section class="link">
        <div class="logos">
        <a href="https://github.com/FSaeta/Prat-Analise-de-Sistemas"><i class="fab fa-github fa-2x logo"></i></a>
        <a href="https://trello.com/b/8imE12wk/rede-social-critic-hub"><i class="fab fa-trello fa-2x logo"></i></a>
        </div>
    </section>
  <!-- END OF LINKS -->
</footer>