{% load static %}
{% load bootstrap4 %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<header>
    <div class="netflixLogo">
      <a id="logo" href="{% url 'index' %}"><img src="{% static 'images/logo_critichub2.png' %}" alt="Logo Image" ></a>
    </div>      
    <nav class="main-nav">                
      <a class='btn' href="{% url 'index' %}">Home</a>
      <a class='btn' href="{% url 'itens' tipo_item='filme' %}">Filmes</a>
      <a class='btn' href="{% url 'itens' tipo_item='serie' %}">Séries</a>
      <a class='btn' href="{% url 'itens' tipo_item='livro' %}">Livros</a>
    </nav>

    <!-- Conta -->
    <div style="text-align: center;">
      {% buttons %}
      <a class="btn-icon" id="contas" href="#"><i class="fas fa-user-circle fa-2x"></i>Conta</a>  
      {% endbuttons %}
    </div>
    <!-- *** *** *** *** *** *** *** -->

    <!-- Amigos -->
    <div>
      {% buttons %}
      <a class="btn-icon" id="botao" href="#" style="text-decoration: none; color:black;"><i class="fas fa-user-friends fa-2x"></i>Amigos</a>  
      {% endbuttons %}
    </div>
    <div id="espaco"class="espaco"></div>
    {% include 'amigos/nav_amigos.html' %}
    <!-- *** *** *** *** *** *** *** -->
  </header>