{% load static %}
{% load bootstrap4 %}
<header>
    <div class="netflixLogo">
      <a id="logo" href="{% url 'index' %}"><img src="{% static 'images/logo_critichub2.png' %}" alt="Logo Image" ></a>
    </div>      
    <nav class="main-nav">                
      <a class='btn' href="{% url 'index' %}">Home</a>
      <a class='btn' href="{% url 'filmes' %}">Filmes</a>
      <a class='btn' href="{% url 'series' %}">Séries</a>
      <a class='btn' href="{% url 'livros' %}">Livros</a>
    </nav>
    <nav class="sub-nav">
      <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
      <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
      <a href="#">Account</a>        
    </nav>  
    <div>
      {% buttons %}
      <input id="botao" type="button" value="Amigos">   
      {% endbuttons %}
    </div>
    <div id="espaco"class="espaco">
      <p>dsahdshadhasdhas</p>
    </div>
    <aside class="amigos" id="amigos">
      <p>asdsadhasdhasdhs</p>
    </aside>
</header>