{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="wrapper">

  <!-- MAIN CONTAINER -->
  <section class="main-container" >

    {% include 'add_recentemente.html' %}

    {% include 'indicados_p_vc.html' %}
    
    <h1 id="tvShows">Filmes</h1>
    <div class="box">
      {% for filme in filmes %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item='filme' pk=filme.pk %}" >{{filme.titulo}}<img src= "/media/{{filme.imagem.thumbnail}}"/><br>Volume: {{filme.volume}}<br>Gênero: {{filme.categoria}}</a>     
      {% endfor %}             
    </div>
    

    <h1 id="movies">Séries</h1>
    <div class="box">
      {% for serie in series %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item='serie' pk=serie.pk %}" >{{serie.titulo}}<br><img src= "/media/{{serie.imagem.thumbnail}}"/><br>Nº Temporadas: {{serie.qtd_temporadas}}<br>Gênero: {{serie.categoria}}</a>     
      {% endfor %}                  
    </div>

    <h1 id="originals">Livros</h1>
    <div class="box">
      {% for livro in livros %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item='livro' pk=livro.pk %}" >{{livro.titulo}}<img src= "/media/{{livro.imagem.thumbnail}}"/><br>Volume: {{livro.volume}}<br>Gênero: {{livro.categoria}}</a>     
      {% endfor %}                
    </div>
   
  <!-- END OF MAIN CONTAINER -->
  
{% bootstrap_javascript jquery='full' %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}