{% extends 'base_login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Você ja está autenticado !</h1>
    <a class="btn btn-primary" href="{% url 'index' %}">Voltar para Index</a>
    <a class="btn btn-primary" href="{% url 'logout' %}">Fazer Logout</a>
{% else %}
    <div class="container-login100">     
        <div class="wrap-login100">
            {% if form.errors %}
                <h5>Nome de usuário ou senha inválidos</h5>
            {% endif %}

            <span class="login100-form-title">
                <img src="{% static 'images/logo_critichub2.png' %}" alt="" width="350" height="140">
            </span>
            
            {% bootstrap_messages %}
            
            <form class="form-signin login100-form validate-form" method="post" action="{% url 'login' %}" autocomplete="off">
                {% csrf_token %}

                <div class="wrap-input100 validate-input" data-validate="Enter username" >
                    <label for="username" class="sr-only">Nome de usuário</label>
                    <!--{{ form.username }}-->
                    <input class="input100 form-control" type="text" id="username" name="username" placeholder="Nome de usuário" required autofocus>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <label for="password" class="sr-only">Senha</label>
                    <input class="input100 form-control" type="password" id="password" name="password" placeholder="Senha" required>
                </div>

                <div class="contact100-form-checkbox">
                    <input class="ckeckbox" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label" for="ckb1" style="color: white;">
                        Lembrar-me
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-primary btn-block" type="submit" style = font-size:18px;color:white;>Acessar</button>
                </div>
                <br/>

                <div class="container-login100-form-btn">
                    <button class="btn btn-primary btn-block" type="submit">
                        <a href="{% url 'cadastro' %}" style = font-size:18px;color:white; >Registrar</a>
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        <p style = font-size:15px;color:white;>Esqueci minha senha</p>
                    </a><h2 style = font-family:Georgia;font-size:12px;> 
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
