/**** Aba dos amigos ****/
.amigos{
  display: none;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 20px;
  background-color: #202020;
}
/**** BOX AMIGOS ****/
.amigos-box{
  width: 85%;
  height: 80px;
  color: black;
  margin-left: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--primary);
  background-color: rgb(248, 248, 248);
}
.nome-amigo{
    display: inline;
    padding-left: 5px;
}
.amigos-box i{
  padding-right: 10px;
  float: right;
}
.amigo-box-icon{
    padding: 10px 0px 0px;
    display: block;
    float: right;
    padding-bottom: 60px;
}
#icon-add{
  color: green;
}
#icon-added{
  color: #427eff;
}
#icon-rm{
  color: red;
}
.resultados-container{
  background-color: #1d031c;
  width: 100%;
}
.sem-resultados{
  padding: 25px;
}

.usuarios-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    color: black;
    border: solid var(--primary) 5px;
    background-color: blanchedalmond;
}

.user-box-btn{
    display: flex;
    float: right;
    padding-right: 20px;
}

.add_amigo{
  border-radius: 5px;
  border: 1px solid black;
  
  padding: 5px 16px;
  margin: 4px;

  text-decoration: none;
  color: white;
  background-color: rgb(60, 213, 0);
}

.add_amigo:hover{
  border-color: rgb(60, 213, 0);
  background-color: rgb(59, 162, 0);
  cursor: pointer;
}

.excluir_amigo{
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 16px;
  margin: 4px;

  text-decoration: none;
  color: black;
  background-color: rgb(253, 95, 95);
}

.excluir_amigo:hover{
  border-color: rgb(253, 95, 95);
  color: rgb(235, 235, 235);
  background-color: rgb(197, 0, 0);
}

/*** PEDIDOS AMIZADE ***/
.box-pedidos{
  width: 90%;
  margin: auto;
  padding: 10px;
  color: black;
  border-radius: 10px;
  background-color: rgb(255, 221, 255);
}