{% extends 'base.html' %}
{% load static %}

{% block title %}Pedidos de Amizade{% endblock %}

{% block content %}
<div class="wrapper">
    <section class="main-container" >

        {% include 'base_header_section.html' %}
        {% if status_message %}
        <div class="message-status" style="margin-top: 15px;">
            {{status_message}}
        </div>
        {% endif %}
                
        <table style="width: 100%; text-align: center;">
        <tr>
        <td style="width: 50%;">
            <div class="pedidos-amizade">
                <div id="recebidos" class="box-pedidos">
                    <div class="box-pedidos">
                        <h1 class="botao-estilizado">Pedidos Recebidos ({{p_recebidos.count}})</h1>
                        {% for pedido in p_recebidos %}
                        <div class="item-box">
                            <p><b>Usuário:</b> <a href="{% url 'usuario' pk=pedido.remetente.id %}" style="text-decoration: none; color: rgb(39, 0, 29);">{{pedido.remetente.username}}</a></p>
                            <form action="{% url 'pedidos_amizade' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="pedido_id" value="{{pedido.id}}" style="display: none;">
                                <button class="botao-validar validar-aprovar" type="submit" name="aceitar_solicitacao">Aprovar</button>
                                <button class="botao-validar validar-excluir" type="submit" name="excluir_solicitacao">Excluir</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </td>

        <td style="width: 50%;">
            <div class="pedidos-amizade">
                <div id="enviados" class="box-pedidos">
                    <div class="box-pedidos">
                        <h1 class="botao-estilizado">Pedidos Enviados ({{p_enviados.count}})</h1>
                        {% for pedido in p_enviados %}
                        <div class="item-box">
                            <p><b>Usuário:</b> <a href="{% url 'usuario' pk=pedido.destinatario.id %}" style="text-decoration: none; color: rgb(39, 0, 29);">{{pedido.destinatario.username}}</a></p>
                            <form action="{% url 'pedidos_amizade' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="pedido_id" value="{{pedido.id}}" style="display: none;">
                                <button class="botao-validar validar-excluir" type="submit" name="excluir_solicitacao">Excluir</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br><br>
    </table>
    </section>
</div>
{% endblock %}
