{% extends 'base.html' %}
{% load static %}

{% block title %}Pedidos de Amizade{% endblock %}

{% block content %}
<div class="wrapper">  
  <section class="main-container" >

    {% include 'base_header_section.html' %}

    <div class="pedidos-amizade">

        <div id="recebidos" class="box-pedidos">
            {% for pedido in p_enviados %}
                <div class="pedido">



                </div>
            {% endfor %}
        </div>

        <div id="enviados" class="box-pedidos">
            {% for pedido in p_enviados %}

            {% endfor %}
        </div>

    </div>
  </section>
</div>
{% endblock %}
