{% extends 'base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="wrapper">
  <section class="main-container">
	<div>

	<form class="cadastro-labels" action="{% url 'cadastro_item' app_name=app_name %}" method="post" autocomplete="off" enctype="multipart/form-data" class="login100-form validate-form form">
		{% csrf_token %}
		<br>
		<br>
		<h2 style="text-align: center; color:white">Cadastrar {{obj_name}}</h2>


		<fieldset class="fieldset_cadastrar">
			{% if app_name == 'filme' %}
			Filmes{% include 'cadastro_filme.html' %}

			{% elif app_name == 'livro' %}
			Livros{% include 'cadastro_livro.html' %}

			{% elif app_name == 'serie' %}
		    Séries{% include 'cadastro_serie.html' %}

			{% endif %}
        </fieldset>
		
		<div class="container-login100-form-btn">
			<button type="submit">
				<h2>Cadastrar</h2>
			</button>
		</div>

	</form>
	</div>
  </section>
</div>

<div id="dropDownSelect1"></div>

{% bootstrap_javascript jquery='full' %}

<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>

{% endblock %}