{% extends 'base_item.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="wrapper">
  <section class="main-container" style="background-color: rgb(0, 0, 0);">
    {% if request.session.status_message %}
    <div class="message-status" style= "margin-top:85px">
    {{request.session.status_message}}
    </div>
    {% endif %}
      <div class="item-description" style="background-color: rgb(205, 145, 245)">
          <h1>Título - {{filme.titulo}}</h1>
          <img src= "/media/{{filme.imagem.thumbnail}}"/>
          
          <p>Diretor - {{filme.diretor}}</p>
          <p>País - {{filme.pais}}</p>
          <p>Ano de lançamento - {{filme.ano_lancamento}}</p>
          <p>Elenco - {{filme.elenco}}</p>
          <form action="{% url 'avaliar_item' tipo_item=app_name item_id=filme.id %}" method="get" autocomplete="off" enctype="multipart/form-data" class="login100-form validate-form form">
            {% csrf_token %}
            {% buttons %}
              <button type="submit" class = "botao-estilizado" style = "background-color: rgb(95, 223, 95);">
                <h2 style = font-family:Georgia;font-size:18px; >Fazer avaliação</h2>
              </button>
            {% endbuttons %} 
          </form>
      </div>
  </section>
</div>
{% endblock %}