{% extends 'base_item.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}

<div class="wrapper">
  <section class="main-container" style="background-color: rgb(0, 0, 0);">
      <div class="item-description" style="background-color: rgb(184, 111, 190);">
          <h1 style=" text-transform: capitalize;">{{app_name}}</h1>
          <h1>{{obj.titulo}}</h1>
          <img src= "/media/{{obj.imagem.thumbnail}}"/>
          <br>
          <b>Ano de lançamento - </b> {{obj.ano_lancamento}}
          {% if app_name != 'livro' %}
          <hr>
            <b>Diretor - </b> {{obj.diretor}}
            <hr>
            <b>Elenco - </b> {{obj.elenco}}
            <hr>
            {% if app_name == 'serie' %}
              <b>Número de temporadas - </b> {{serie.qtd_temporadas}}
            <hr> 
            {% endif %}
          
          {% else %}
          <hr>
            <b>Autor - </b> {{obj.autor}}
            <hr>
            <b>Editora - </b> {{obj.editora}}
            <hr>
            <b>Volume - </b> {{obj.volume}}
            <hr>
          {% endif %}

          <b>País - </b> {{obj.pais}}
          <hr>
          <b>Categoria - </b> {{obj.categoria}}
          <br>
          <br>
          <form action="{% url 'avaliar_item' tipo_item=app_name item_id=obj.id%}" method="post" autocomplete="off" enctype="multipart/form-data" class="login100-form validate-form form">
            {% csrf_token %}
              <button type="submit" class="" href="{% url 'avaliar_item' tipo_item=app_name item_id=obj.id %}">
                <h2 style = font-family:Georgia;font-size:18px;>Fazer avaliação</h2>
              </button>
          </form>
      </div>

  </section>
</div>

{% endblock %}