{% extends 'base.html' %}
{% load static %}

<!-- TÍTULO -->
{% block title %}Critic Hub / Filmes{% endblock %}

<!-- BLOCK CONTENT PRINCIPAL-->
{% block content %}

<div class="wrapper">  
  <!-- MAIN CONTAINER -->
  <section class="main-container" >

    {% include 'base_header_section.html' %}

    {% if request.session.status_message %}
      <div class="message-status" style="margin-top: 20px;">
          {{request.session.status_message}}
      </div>
    {% endif %}

    <h1 id="ItemSection">{{plural_obj_name}}</h1>
    
    {% if app_name == 'filme' %}
    <div class="box">
      {% for obj in objs %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item=app_name pk=obj.pk %}" >{{obj.titulo}}<img src= "/media/{{obj.imagem.thumbnail}}"/><br>Volume: {{obj.volume}}<br>Gênero: {{obj.categoria}}</a>     
      {% endfor %}             
    </div>

    {% elif app_name == 'livro' %}
    <div class="box">
      {% for obj in objs %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item=app_name pk=obj.pk %}" >{{obj.titulo}}<img src= "/media/{{obj.imagem.thumbnail}}"/><br>Volume: {{obj.volume}}<br>Gênero: {{obj.categoria}}</a>     
      {% endfor %}                 
    </div>

    {% elif app_name == 'serie' %}
    <div class="box">
      {% for obj in objs %}
        <a style="color: rgb(254, 247, 255); text-decoration: none; font-family: Georgia; font-size: 15px;" 
        href="{% url 'item' tipo_item=app_name pk=obj.pk %}" >{{obj.titulo}}<br><img src= "/media/{{obj.imagem.thumbnail}}"/><br>Nº Temporadas: {{obj.qtd_temporadas}}<br>Gênero: {{obj.categoria}}</a>     
      {% endfor %}               
    </div>

    {% endif %}

    {% include 'add_recentemente.html' %}

    {% include 'indicados_p_vc.html' %}
   
  <!-- END OF MAIN CONTAINER -->
  </section>
</div>

<script src="{% static 'js/forms.js' %}" ></script>

{% endblock %}