{% extends 'base_item.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="wrapper">
  <section class="main-container" style="background-color: rgb(0, 0, 0);">>
      <div class="item-description" class="section-header" style="background-color: rgb(205, 145, 245);">
          <h1>Título - {{livro.titulo}}</h1>
          <img src= "{{livro.imagem.thumbnail.url}}"/>
          <p>Autor - {{livro.autor}}</p>
          <p>Editora - {{livro.editora}}</p>
          <p>País - {{livro.pais}}</p>
          <p>Ano de lançamento - {{livro.ano_lancamento}}</p>
          <form action="{% url 'avaliar_livro' %}" method="post" autocomplete="off" enctype="multipart/form-data" class="login100-form validate-form form">
            {% csrf_token %}
            {% buttons %}
              <button type="submit" class="login100-form-btn btn btn-primary" href="{% url 'avaliar_livro' %}">
                <h2 style = font-family:Georgia;font-size:18px;>Fazer avaliação</h2>
              </button>
            {% endbuttons %} 
          </form>
      </div>
  </section>
</div>
{% endblock %}