{% extends 'base_item.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="wrapper">
  <section class="main-container" style="background-color: rgb(0, 0, 0);">>
      <div class="section-header" style="background-color: rgb(205, 145, 245);">
          <h1  style="color:black">Título - {{livro.titulo}}</h1>
          {{livro.imagem}}
          <p  style="color:black">Autor - {{livro.autor}}</p>
          <p  style="color:black">Editora - {{livro.editora}}</p>
          <p  style="color:black">País - {{livro.pais}}</p>
          <p  style="color:black">Ano de lançamento - {{livro.ano_lancamento}}</p>
      </div>
  </section>
</div>
{% endblock %}