{% extends 'base.html' %}
{% load static %}

<!-- TÍTULO -->
{% block title %}/ Livros{% endblock %}

<!-- BLOCK CONTENT PRINCIPAL-->
{% block content %}

<div class="wrapper">  
  <!-- MAIN CONTAINER -->
  <section class="main-container" >

    {% include 'base_header_section.html' %}

    {% include 'add_recentemente.html' %}

    {% include 'indicados_p_vc.html' %}

    <h1 id="originals">Livros</h1>
    <div class="box">
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o1.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o2.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o3.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o4.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o5.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o6.PNG?raw=true" alt=""></a>                
    </div>
   
  <!-- END OF MAIN CONTAINER -->


<script src="{% static 'js/forms.js' %}" ></script>

{% endblock %}