{% extends 'base.html' %}
{% load static %}

<!-- TÍTULO -->
{% block title %}/ Series{% endblock %}

<!-- BLOCK CONTENT PRINCIPAL-->
{% block content %}

<div class="wrapper">  
  <!-- MAIN CONTAINER -->
  <section class="main-container" >

    {% include 'add_recentemente.html' %}

    {% include 'indicados_p_vc.html' %}

    <h1 id="movies">Séries</h1>
    <div class="box">
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m1.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m2.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m3.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m4.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m5.PNG?raw=true" alt=""></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m6.PNG?raw=true" alt=""></a>                
    </div>
  <!-- END OF MAIN CONTAINER -->

  <!-- LINKS -->
  <section class="link">
    <div class="logos">
      <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
      <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
    </div>
  </section>
  <!-- END OF LINKS -->


<script src="{% static 'js/forms.js' %}" ></script>

{% endblock %}