{% load static %}


<div class="item-box">
    {% if app_name == 'filme' %}
    <table style="width: 100%;">
        <tr>
            <td style="font-size: 24px; width: 35%;">
                <b>Título:</b> {{item.titulo}}
            </td>
            <td style="max-width: 35%;">
                <b>Ano de lançamento:</b> {{item.ano_lancamento}}
            </td>
            <td style="float:right;">
                <form name="aprovar" action="{% url 'validar_itens' tipo_item=app_name %}" method="post">
                    {% csrf_token %}
                    <input name="item_id" type="text" value="{{item.id}}" style="display: none;">
                    <button class="botao-aprovar" type="submit" name="aprovar_cadastro">
                        <i class="fas fa-check"></i> Aprovar
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td style="font-size: 24px; width: 35%;">
                <b>Diretor:</b> {{item.diretor}}
            </td>
            <td rowspan="2" style="width: 35%;">
                <b>Elenco:</b> {{item.elenco}}
            </td>
            <td style="float:right;">
                <form name="revisar" action="{% url 'validar_itens' tipo_item=app_name %}" method="post">
                    {% csrf_token %}
                    <input name="item_id" type="text" value="{{item.id}}" style="display: none;">
                    <button class="botao-revisar" type="submit" name="revisar_cadastro">
                        <i class="fas fa-edit"></i> Revisar
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td style="font-size: 24px; width: 35%;">
                <b>País:</b> {{item.pais}}
            </td>
            <td style="float:right;">
                <form name="excluir" action="{% url 'validar_itens' tipo_item=app_name %}" method="post">
                    {% csrf_token %}
                    <input name="item_id" type="text" value="{{item.id}}" style="display: none;">
                    <button class="botao-excluir" type="submit" name="excluir_cadastro">
                        <i class="fas fa-times"></i> Excluir
                    </button>
                </form>
            </td>
        </tr>
    </table>

    {% elif app_name == 'livro' %}


    {% elif app_name == 'serie' %}


    {% endif %}
</div>
