{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <section class="main-container">
        {% include 'header_validar_itens.html' %}

        <br>
        <h2>{{len_objects}} {{obj_name}}{% if len_objects != 1 %}s{% endif %} para validar</h2>

        <div class="itens-box">
            
            {% if status_message %}
            <div class="message-status">
                {{status_message}}
            </div>
            {% endif %}

            {% for item in objects %}

            {% include 'validar_item_box.html' %}

            {% endfor %}

        </div>

    </section>
</div>
{% endblock %}