{% load static %}


<div class="item-box">

    <!--  Filme  -->
    
    <table style="width: 100%;">
        <tr>
            <td class="coluna-validar" style="font-size: 18px; width: 35%;">
                <p>
                    <b>Título:</b> {{item.titulo}}
                </p>
                <p>
                    {% if app_name != 'livro' %}
                    <b>Diretor:</b> {{item.diretor}}
                    {% else%}
                    <b>Autor:</b> {{item.autor}}
                    {% endif %}
                </p>
                <p>
                    <b>País:</b> {{item.pais}}
                </p>
            </td>

            <td class="coluna-validar" style="width: 35%; font-size: 14px;">
                <p>
                    <b>Lançamento:</b> {{item.ano_lancamento}}
                </p>
                <p>
                    {% if app_name == 'livro' %}
                    <b>Volume:</b> {{item.volume}}
                    {% elif app_name == 'serie' %}
                    <b>Nº Temporadas:</b> {{item.qtd_temporadas}}
                    {%endif%}
                </p>
                {% if app_name != 'livro' %}
                <p>
                    <b>Elenco:</b> {{item.elenco}}
                </p>
                {% else %}
                <p>
                    <b>Editora:</b> {{item.editora}}
                </p>
                {% endif %}
            </td>

            <td class="coluna-validar" style="width: 15%; font-size: 14px;">
                <p>
                    <b>Categoria:</b> {{item.categoria}}
                </p>
            </td>

            <td style="float:right;"> <!-- BOTÕES -->
                <form name="validar" action="{% url 'validar_itens' tipo_item=app_name %}" method="post" style="padding: 5px;">
                    {% csrf_token %}
                    <input name="item_id" type="text" value="{{item.id}}" style="display: none;">
                    <button class="botao-validar validar-aprovar" type="submit" name="aprovar_cadastro">
                        <i class="fas fa-check"></i> Aprovar
                    </button>
                    <br>
                    <button class="botao-validar validar-revisar" type="submit" name="revisar_cadastro">
                        <i class="fas fa-edit"></i> Revisar
                    </button>
                    <br>
                    <button class="botao-validar validar-excluir" type="submit" name="excluir_cadastro">
                        <i class="fas fa-times"></i> Excluir
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
