{% load static %}
{% load bootstrap4 %}
<!-- Header de Sections com barra de busca -->
<div class="section-header">
    <table style="width: 100%;">
        <tr>
            <!-- Coluna - Titulo da Página -->
            {% if searching %}
            <td style="width: 55%;">
            {% else %}
            <td style="width: 30%;">
            {% endif %}

            {% if searching and app_name != 'amigos' %}
            <h1 class="header-title">
                Resultados da busca para " {{ search_input }} "
            </h1>
            {% else %}
            <h1 class="header-title">
                {% if app_name == 'filme' %}
                        Filmes

                {% elif app_name == 'livro' %}
                        Livros

                {% elif app_name == 'serie' %}
                        Séries

                {% elif app_name == 'amigos' %}
                        Seus Amigos

                {% elif app_name == 'usuarios' %}
                        Usuários
                {% endif %}
                </h1>
            {% endif %}

            </td>
            <!-- Coluna - Barra de Busca -->
            {% if searching %}
            <td style="width: 30%; padding-right: 30px;">
            {% else %}
            <td style="width: 40%; padding-right: 30px;">
            {% endif %}
                <!-- Incluindo barra de busca -->
                {% include 'busca/barra_busca.html' %}
            </td>
            <!-- Coluna - Direita com infos da busca -->
            {% if searching %}
            <td style="width: 10%;">
            {% else %}
            <td style="width: 20%;">
            {% endif %}
                <p style="padding-left: 15px; margin-right: 20px; float: right;">
                {% if app_name != 'amigos' %}
                    {{len_resultados}} Resultado{% if len_resultados != 1 %}s{% endif %} de {{app_name}}
                {% else %}
                    {{len_resultados}} Amigo{% if len_resultados != 1 %}s{% endif %}
                {% endif %}
                </p>
            </td>
        </tr>
    </table>

    <!-- BOX DOS BOTÕES -->
    <hr style="margin:0px;"/>
    <div class="sub-section-header">
        <form action="">
            <div class="buttons-box" style="text-align: right;float: right;">
                <!-- Primeiro Botão -->
                {% if app_name == 'amigos' %}
                    <a class="botao-estilizado" href="{% url 'add_amigos' %}"><i class="fas fa-location-arrow"></i>  Encontrar Amigos</a>
                {% elif app_name == 'usuarios' %}
                    <a class="botao-estilizado" href="{% url 'seus_amigos' %}"><i class="fas fa-user-friends"></i>  Seus Amigos</a>
                
                {% else %}
                    {% if user.is_superuser %}
                    <a class="botao-estilizado-admin" href="{% url 'validar_itens' tipo_item=app_name %}"><i class="fas fa-check-double"></i>  Validar Cadastros</a>
                    {% endif %}
                {% endif %}
                <!-- Segundo Botão -->
                {% if app_name == 'amigos' or app_name == 'usuarios' %}
                    {% if app_pedidos %}
                        <a class="botao-estilizado" href="{% url 'seus_amigos' %}"><i class="fas fa-user-friends"></i>  Seus Amigos</a>
                    {% else %}
                        <a class="botao-estilizado" href="{% url 'pedidos_amizade' %}"><i class="fas fa-user-plus"></i>  Pedidos de Amizade</a>
                    {% endif %}

                {% else %}
                    {% if app_name == 'filme' %}
                    <a class="botao-estilizado" href="{% url 'cadastro_filme' %}" >
                        <i class="fas fa-plus"></i>  Cadastrar Filme
                    </a>
                    {% elif app_name == 'livro' %}
                    <a class="botao-estilizado" href="{% url 'cadastro_livro' %}" >
                        <i class="fas fa-plus"></i>  Cadastrar Livro
                    </a>
                    {% elif app_name == 'serie' %}
                    <a class="botao-estilizado" href="{% url 'cadastro_serie' %}" >
                        <i class="fas fa-plus"></i>  Cadastrar Série
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>

</div>
