{% extends 'base_login.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="limiter" style="background-image: url({% static 'images/fundo.png' %})" >
	<div class="container-login100">
		<div class="wrap-login100">
			
			<span class="login100-form-title">
				<img src="{% static 'images/logo_critichub2.png' %}" alt="Logo" width="350" height="140">
			</span>

			<form method="post" autocomplete="off" 
				enctype="multipart/form-data" class="login100-form validate-form form"
				id="cadastroForm" data-cities-data="{% url 'get-cidades-ajax' %}">

			{% csrf_token %}
			{{ form.media.js }}

			<h1 style="text-align: center; color:white">Cadastro</h1>

			{% bootstrap_messages %}

			{% bootstrap_form form %}
			
			<div class="container-login100-form-btn">
			{% buttons %}
				<button type="submit" class="login100-form-btn btn btn-secondary">
					<h2 style = color:black;font-size:14px;>Criar Conta</h2>
				</button>
				<button type="submit" class="btn" 
						style="display:flex; margin-top: 10px; margin-left: 25%;">
					<a href="{% url 'login' %}" style = color:black;font-size:14px;>Voltar</a>
				</button>
			{% endbuttons %}
			</div>

		 </form>
		</div>
	</div>
</div>
<div id="dropDownSelect1"></div>

{% bootstrap_javascript jquery='full' %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type='text/javascript'>
	$('#id_estado').change(function(){
		var url = $("#cadastroForm").attr("data-cities-url");
		var estado_id = $('#id_estado').val();

		$.ajax({
			url: url,
			type: 'GET',
			data:{
				'estado': estado_id
			},
			success: function(data){
				console.log("TESTE -------------------");
				console.log(data);
				$('#id_cidade').html("<option value=\"\">TESTE</option>");
			}
		});
		//$('select[name=cidade]').load("{% url 'get-cidades-ajax' %}");
	});
</script>

{% endblock %}
