{% load static %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Cadastro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% bootstrap_css %}
<!--===============================================================================================-->	
	
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link type="text/css" href="{% static 'css/util.css' %}" rel="stylesheet">
	<link  type="text/css" href="{% static 'css/main.css'%}" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter" style="background-image: url({% static 'images/fundo.png' %})" >
		<div class="container-login100">
			<div class="wrap-login100">
			  <div class="container">
				<form action="{% url 'cadastro' %}" method="post" autocomplete="off" enctype="multipart/form-data" class="login100-form validate-form form">
					{% csrf_token %}
					
					<span class="login100-form-title p-b-34 p-t-27">
						<img src="{% static 'images/logo_critichub2.png' %}" alt="" width="300" height="200">
					</span>

					<h2 style="text-align: center; color:white">Cadastro</h2>

					{% bootstrap_messages %}

					{% bootstrap_form form %}
					<h1>{{nome}}</h1>
					<h1>{{snome}}</h1>

          <br>

          <div class="container-login100-form-btn">
			  		{% buttons %}
						<button type="submit" class="login100-form-btn btn btn-primary">
							<h2 style = font-family:Georgia;font-size:12px;> Enviar Mensagem</h2>
						</button>
					{% endbuttons %}
					</div>

				</form>
			  </div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	{% bootstrap_javascript jquery='full' %}
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>