{% load static %}

<h1>Atenção, você clicou no botão de EXCLUIR CONTA deseja mesmo proseguir?</h1>
<h3>Após a confirmação a operação não poderá ser revertida.</h3>

<form action="{% url 'excluir_conta' user_id=user.id %}" method="post">
    {% csrf_token %}
    <input name="confirmar" type="submit" class="botao-avaliacao validar-excluir" style="float: none;" value="Excluir Conta"/>
    <input name="voltar" type="submit" class="botao-avaliacao comentar" style="float: none;" value="Excluir Conta"/>
    
</form>