<!DOCTYPE html>
<html lang="pt-br">
  <head> 
	<meta charset="UTF-8">
	<title>Inicio</title>
  </head>
	
  <body>
	<h1>Página Inicial</h1>

    <h2>Essa é a página inicial do projeto</h2>

    <li>View e template definidos na aplicação core</li>
    <li>Arquivo Url do core definindo o caminho na raiz</li>
    <li>Template é o arquivo .html que será renderizado para as páginas</li>
    <br/>

    <h2>Criando Views</h2>
    <li>Adicionar view como uma função no arquivo views.py</li>
    <li>Mapear a rota no arquivo urls.py</li>
    <h4>Exemplos: </h4>
    <p>def index(request):</p>
    <p><span>_____</span>return render(request, 'index.html')</p>
    


    <footer>
	  <!-- dados de rodapé, usado tambem para scripts -->
	
	</footer>
  </body>
</html>