{% extends 'base.html' %}
{% load static %}

<!-- TÍTULO -->
{% block title %} Minha conta {% endblock %}

{% block content %}
<!-- Todo o conteúdo da página deve estar dentro do block content -->

<div class="wrapper">  
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
        <h1 align="center" style="padding-top: 80px;">Minha Conta</h1>
      <table align="center">
        <tr>
          <td class="tabela-botao">
              <a class="botao-estilizado" href="{% url 'seus_amigos' %}">Meus Amigos</a>
          </td>
          <td class="tabela-botao">
            <a class="botao-estilizado" href="#editar_perfil">Editar Perfil</a>
          </td>
          <td class="tabela-botao">
            <a class="botao-estilizado" href="#alterar_senha">Modificar Senha</a>
          </td>
          <td class="tabela-botao">
            <!--a class="botao-estilizado" href="{url 'avaliacoes' }">Suas Avaliações</a-->
          </td>
          <td class="tabela-botao">
            <a class="botao-estilizado" href="{% url 'logout' %}">Logout</a>
         </td>
      </tr>
      </table>
      <table style="width: 100%; margin-top: 50px;">
      <tr>
        <td style="width: 310px;">
          <div class="fotoperfil">
            {% if user.imagem %}
            {{user.imagem}}
            {% else %}
            <img src="{% static 'images/semfoto.jpeg' %}" alt="Imagem" style="width: 300px;">
            {% endif %}
            <a href="">Alterar foto de Perfil</a>
          </div>
        </td>
        <td style="vertical-align: top; padding-left: 50px;">
          <div style="padding: 0px;">
            <h2>Nome de usuário: <span style="color: white;">{{user.username}}</span></h2>      
            <h2>Número de Amigos: <span style="color: white;">{{user.amigos.all.count}}</span></h2>
            <h2>Número de Avaliações: <span style="color: white;">{{user.amigos.all.count}}</span></h2>
          </div>
        </td>
        <td>
    </tr>
    </table>
    <div  class="numeros">
      <h2>Filmes Cadastrados:<span style="color: white;"> {{user.filme_set.all.count}}</span></h2> 
      <h2>Séries Cadastrados:<span style="color: white;"> {{user.serie_set.all.count}}</span></h2>  
      <h2>Livros Cadastrados:<span style="color: white;"> {{user.livro_set.all.count}}</span></h2>
    </div>

      <hr>

      <div style="text-align: center;">
        <h1 id="editar_perfil" style="padding-top: 70px;">Editar Perfil</h1>
        {% include 'form_editar_conta.html' %}
      </div>
      <hr>
      <div style="text-align: center;">
      <h1 id="alterar_senha" style="padding-top: 70px;">Alterar Senha</h2>
      <form action="" method="post" border="1">
        <fieldset >
        <div>
            <label for="user">Senha Antiga:</label>
            <input type="password" id="user" size="40" />
        </div><br>
        <div>
            <label for="email">Nova Senha:</label>
            <input type="password" id="email" size="40" />
        </div><br>
        <div>
            <label for="nome">Confirmar nova senha:</label>
            <input type="password" id="nome" size="40"/>
        </div><br>
        <input type="submit" value="Alterar Senha" />
        </fieldset>
      </form>
    </div>
    <hr>
    <div align="center">
      <h2>Logout Off</h2>
      <a class="botao-estilizado" href="{% url 'logout' %}">Sair do CriticHub</a><br><br>
      <a href="">Excluir Conta</a>
    </div>

  </section>
</div>
<!--  Aqui acaba o conteúdo  -->
{% endblock %}