{% load static %}
{% load bootstrap4 %}
<div>
  {% buttons %}
  <a id="botao" href="#" style="text-decoration: none; color:black;"><i class="fas fa-user-friends fa-2x"></i>Amigos</a>  
  {% endbuttons %}
</div>
<div id="espaco"class="espaco">
  
</div>
<aside class="amigos" id="amigos">
    <!-- Header da aba de Amigos -->
    <div class="header-amigos">
        <table>
            <tr>
                <td id="title-amigos">
                    <h2>Seus Amigos</h2>
                </td>
                <td class="count-amigos">
                    <i class="fas fa-user-friends fa-lg">  {{ user.amigos.count }}</i>
                </td>
            </tr>
        </table>


        <!-- Barra de Ações -->
        <nav class="sub-nav-search">
            <a href="{% url 'add_amigos' %}"><i class="fas fa-user-plus">  Adicionar amigos</i></a>

            <a href="#"><i class="fas fa-plus"> Pedidos de Amizade</i></a>

            <a id="buscar_amigo" href="#"><i class="fas fa-search"> Buscar amigo</i></a>
            <form id="searchbar-nav" style="display:none;" action="{% url 'searchbar' %}" method="get">
                <!-- Filtro de Objeto -->
                <div style="display: none;">
                    <label style="color: black;" for="app_name">Buscar por: </label>
                    <select type="checkbox" name="select_app">
                        <option value="amigos" selected>amigos</option>
                    </select>
                </div>

                <table>
                    <tr>
                        <td style="width: 80%;">
                            <input type="text" style="width:100%;"  name="search"/>
                        </td>
                        <td>
                            <button type="submit">Pesquisar</button>
                        </td>
                    </tr>
                </table>
            </form>
        </nav> 
    </div>

    <!-- Box de Amigos -->
    {% for amigo in user.amigos.all %}
    <div class="amigos-box">
        <h2 class="nome-amigo">{{ amigo.username }}</h2>
        <div class="amigo-box-icon">
            <i id="icon-add" class="fas fa-user-plus"></i>
            <i id="icon-rm" class="fas fa-user-alt-slash"></i>
        </div>
    </div>
    {% endfor %}
</aside>