{% load static %}

<div class="resultados-container">
    {% if usuarios %}
    {% for usuario in usuarios %}
    <div class="usuarios-box">
        <h2>{{ usuario.username }}</h2>
        {% if usuario in user.amigos.all %}
        <i id="icon-added" class="fas fa-user-check"> Amigos</i>
        <i id="icon-rm" class="fas fa-user-alt-slash"> Remover Amigo</i>
        {% else %}
        <i id="icon-add" class="fas fa-user-plus">Adicionar Amigo</i>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="resultados-container">
        <div class="sem-resultados">
            <h2 style="color: white;">Nenhum resultado encontrado</h2>
        </div>
    </div>
    {% endif %}
</div>

