{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <section class="main-container" >
      <h2>Usuário</h2>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td style="width: 310px;">
            <div class="fotoperfil">
              {% if usuario.imagem %}
              {{usuario.imagem}}
              {% else %}
              <img src="{% static 'images/semfoto.jpeg' %}" alt="Imagem" style="width: 300px;">
              {% endif %}
            </div>
          </td>
          <td style="vertical-align: top; padding-left: 50px;">
            <div style="padding: 0px;">
              <h2>Nome de usuário: <span style="color: white;">{{usuario.username}}</span></h2>
              <h2>Número de Amigos: <span style="color: white;">{{usuario.amigos.all.count}}</span></h2>
              <h2>Número de Amigos em comum: <span style="color: white;">{{len_amigos_comum}}</span></h2>
              <h2>Número de Avaliações: <span style="color: white;">{{usuario.amigos.all.count}}</span></h2>
            </div>
          </td>
          <td>
      </tr>
      </table>

      
    </section>
</div>
{% endblock %}