{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <section class="main-container" >
      <h2 align="center" style="padding-top: 80px;">Usuário</h2>
      <table style="width: 100%; margin-top: 50px;">
        <tr>
          <td style="width: 310px;">
            <div class="fotoperfil">
              {% if usuario.imagem %}
              {{usuario.imagem}}
              {% else %}
              <img src="{% static 'images/semfoto.jpeg' %}" alt="Imagem" style="width: 300px;">
              {% endif %}
            </div>
          </td>
          <td style="vertical-align: top; padding-left: 50px;">
            <div style="padding: 0px;">
              <h2>Nome de usuário: <span style="color: white;">{{usuario.username}}</span></h2>
              <h2>Número de Amigos: <span style="color: white;">{{usuario.amigos.all.count}}</span></h2>
              <h2>Número de Amigos em comum: <span style="color: white;">{{len_amigos_comum}}</span></h2>
              <h2>Número de Avaliações: <span style="color: white;">{{usuario.amigos.all.count}}</span></h2>
            </div>
          </td>
      </tr>
      </table>
      <div>
        <button class="botao-validar validar-aprovar" type="submit" name="adicionar_usuario">Adicionar Usuário</button>
        <span style="padding-right: 80px;"></span>
        <button class="botao-validar validar-excluir" type="submit" name="excluir_usuario">Excluir Usuário</button>
      </div>

      <div class="section-header" style="background-color: rgb(111, 48, 194);width: 95%;margin: auto; margin-top: 60px;">
        <h1 class="header-title" style="padding-top: 10px;">
            Avaliações do usuário
        </h1>
      </div>

      {% include 'avaliacoes.html' %}

      
    </section>
</div>
{% endblock %}